.newsItem-wrapper{
    width: 30%;
    margin-bottom: 50px;
}
.newsList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
newsItem-wrapper:hover{
    background-color: aqua;
}