.mainHeader {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    margin-bottom: 90px;
    .title {
        font-size: 25px;
        font-weight: 700;
    }
    nav{
        a{
            margin-left: 35px;
            font-size: 18px;
            font-weight: 400;
            &.linkActive {
                color: #004fEC;
            }


        }
    }
}