
.mainWrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;

    main {
        flex: 1 0 auto;
    }
    footer {
        flex:  0 0 auto;
    }
  }